
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
/*----------Root Variables------------------*/
:root{
    --color-primary:#430b65;
    --color-danger:#d08215;
    --color-success:#07f8a8;
    --color-warning:#ffbb55;
    --color-white: #fdfdfd;
    --color-info-dark:#7d8da1;
    --color-info-light: #dce1eb;
    --color-dark:#363949;
    --color-light: rgba(132, 139, 200, 0.18);
    --color-primary-variant: #111e88;
    --color-dark-variant:#677483;
    --color-background:#f6f6f9;

    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;

    --card-padding: 1.8rem;
    --padding-1: 1.2rem;

    --box-shadow: 0 2rem 3rem var(--color-light);
}
main h1{
    text-align: center;
}

main .recent-orders table{
    background: beige;
    width: 80%;
    border-radius: var(--card-border-radius);
    margin-top: 10px;
    margin-left: 100px;
    padding: var(--card-padding);
    text-align: center;
    box-shadow: var(--box-shadow);
}
main .recent-orders table:hover{
    box-shadow: none;
}
main table tbody td{
    height: 2.8rem;
    border-bottom: 1px solid var(--color-light);
    color: var(--color-dark-variant);
}
main table .del-btn{
    background: var(--color-primary);
    color: white;
    cursor: pointer;
    border-radius: 20px;
    padding: 10px 10px;
}

main table tbody tr:last-child td{
    border: none;
}