<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org/" >
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=, initial-scale=1.0">
  <title>Admin-dashboard</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp"
        rel="stylesheet">
  <link rel="stylesheet" th:href="@{~/css/edit.css}">
  <link rel="shortcut icon" type="x-icon" th:href="@{~/img/logo.png}">
</head>
<body>
<div class="container">
  <main>
    <h1>Edit</h1>
    <form  th:method="post" th:action="@{~/dest/saveDest}" th:object="${destinations}" enctype="multipart/form-data" >
      <input class="field" type="text" hidden placeholder="UserId..."  th:field="*{id}" th:value="${clickeddest.getId()}" />
      <div class="form-group" >
        <label for="name">City:</label>
        <input type="text" id="name"  name="name"  placeholder="Enter the city" th:field="*{city}" th:value="${clickeddest.getCity()}">
      </div>
      <div class="form-group">
        <label for="email">Country:</label>
        <input type="text" id="email" name="email"  placeholder="Enter the country" th:field="*{country}" th:value="${clickeddest.getCountry()}">
      </div>
      <div class="form-group">
        <label for="email">Price:</label>
        <input type="text" id="email" name="email"  placeholder="Enter the price" th:field="*{price}" th:value="${clickeddest.getPrice()}">
      </div>
      <div class="form-group1">
        <label for="file">Image:</label>
        <input type="file" id="file" name="file" th:field="*{image}" th:value="${clickeddest.getImage()}" >
      </div>
      <a th:href="@{~/admin/edit}+${clickeddest.id}"><button type="submit">Edit</button></a>
    </form>

  </main>
</div>
</body>
</html>