<!DOCTYPE html>
    <html lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" th:href="@{~/css/forgot.css}">
		<link rel="shortcut icon" type="x-icon" th:href="@{~/img/logo.png}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    </head>
    <body>
<div class="container">
    
	<div class="screen">
		<div class="screen__content">
            <img th:src="@{~/img/logo.png}" alt="">
            <h1>Forgot password?</h1>
			<form class="login" th:method="post" th:action="@{/user/changepassword}" th:object="${users}">
                
				<div class="login__field">
					<i class="login__icon fas fa-envelope"></i>
					<input type="text" class="login__input" placeholder=" Email" required th:field="*{email}">
				</div>
				<button class="button login__submit">
					<span class="button__text">Send Email</span>
					<i class="button__icon fas fa-chevron-right"></i>
				</button>				
			</form>
		</div>
		<div class="screen__background">
			<span class="screen__background__shape screen__background__shape4"></span>
			<span class="screen__background__shape screen__background__shape3"></span>		
			<span class="screen__background__shape screen__background__shape2"></span>
			<span class="screen__background__shape screen__background__shape1"></span>
		</div>		
	</div>
</div>
</body>
</html>