<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Play&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{~/css/style.css}">
    <link rel="stylesheet" th:href="@{~/css/media.css}">
    <link rel="shortcut icon" type="x-icon" th:href="@{~/img/logo.png}">
    <title>Adventure</title>
</head>
<body>
    <header>
      <nav>
        <div class="logo">
            <img th:src="@{~/img/logo.png}" alt=" ">
        </div>
          <ul id="menu_bx">
              <li> <a th:href="@{~/user/index}">Discover</a></li>
              <li> <a th:href="@{~/dest/dest}">Destinations</a></li>
              <li> <a th:href="@{~/contact/cont}">Contact Us</a></li>
              <li class="user-dropdown">
                  <i class="bi bi-person-circle"></i> <a th:text="${userdata.getFullname()}"> </a>
                  <div class="dropdown-content">
                      <div class="dropdown-inner">
                          <a th:href="@{~/logout}">Logout</a>
                          <a th:href="@{~/book/booked/}+${userdata.id}">My Bookings</a>
                      </div>
                  </div>
              </li>
          </ul>
        <i class="bi bi-three-dots"></i>
      </nav>  
    <div class="content">
        <div class="cont_bx">
            <h1> The right destination for you and your family</h1>
            <p>Creative taglines have the capability of capturing the attention of people</p>
            <button onclick="location.href='#about';">Start your journey</button>
        </div>
        <div class="trip_bx">
            <div class="search_bx">
                <div class="card">
                    <h4>Location <i class="bi bi-caret-down-fill"></i></h4>
                    <input type="text" placeholder="Enter your destination">
                </div>
                <div class="card">
                    <h4>Date <i class="bi bi-caret-down-fill"></i></h4>
                    <input type="date" >
                </div>
                <div class="card">
                    <h4>People <i class="bi bi-caret-down-fill"></i></h4>
                    <input type="number" placeholder="How many people?">
                </div>
                <input type="button" value="Explore Now">
            </div>
            <div class="travel_bx">
                <h4>Countries to visit</h4>
                <div class="cards">
                    <div class="card">
                        <h3>NEPAL <img th:src="@{~/icon/nepal.png}" alt=""></h3>
                        <img th:src="@{~/img/mustang.jpg}" alt="">
                        <div class="btn_city">
                            <a href="">Explore More</a>
                            <h5>Lower Mustang <br> <span>$460</span> </h5>
                        </div>
                    </div>
                    <div class="card">
                        <h3>UNITED STATES <img th:src="@{~/icon/united-states.png}" alt=""></h3>
                        <img th:src="@{~/img/newyork.webp}" alt="">
                        <div class="btn_city">
                            <a href="">Explore More</a>
                            <h5>New York City <br> <span>$800</span> </h5>
                        </div>
                    </div>
                    <div class="card">
                        <h3>RUSSIA <img th:src="@{~/icon/russia.png}" alt=""></h3>
                        <img th:src="@{~/img/sanpitersburg.jpg}" alt="">
                        <div class="btn_city">
                            <a href="">Explore More</a>
                            <h5>Saint Petersburg <br> <span>$660</span> </h5>
                        </div>
                    </div>

                    <div class="card">
                        <h3>SPAIN <img th:src="@{~/icon/spain.png}" alt=""></h3>
                        <img th:src="@{~/img/barcelona.jpg}" alt="">
                        <div class="btn_city">
                            <a href="">Explore More</a>
                            <h5>Barcelona <br> <span>$700</span> </h5>
                        </div>
                    </div>
                    
                    
                </div>
            </div>
        </div>
        
    </div>
    </header>
<section class="about" id="about">
    <h1 class="heading">About <span>us</span></h1>
    <div class="whole">
        <div class="img-container">
            <img th:src="@{~/img/bgg.jpg}"
                alt="Futsal">
        </div>
        <div class="description">
            <h3>What is Adventure?</h3>
            <P>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Error ab cum fugit neque animi ut incidunt
                dignissimos facere consectetur sint quae temporibus dolorum earum mollitia, quaerat nihil voluptatum
                eos itaque.</P>
            <P>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Error ab cum fugit neque animi ut incidunt
                dignissimos facere consectetur sint quae temporibus dolorum earum mollitia, quaerat nihil voluptatum
                eos itaque.</P>
        </div>
    </div>
</section>
<div class="destination">
    <div class="des_bx">
        <h4>Our Destination
            <p>Choose your next Destination</p>
            <li>Nepal</li>
            <li>United States</li>
            <li>Spain</li>
            <li>Japan</li>
            <li>UK</li>
            <li>Russia</li>
            <li>Indonesia</li>
            <li>Dubai</li>
            <h6>Included: Air ticket, Hotel, Breakfast, Tour </h6>
            <button><a href="destination.html"></a>More Info</button>
        </h4>
    </div>
    <div class="img_bx">
        <img th:src="@{~/img/Main_plan.png}" alt="">
        <div class="msg">
            <img th:src="@{~/icon/nepal.png}" alt="">
            <div class="cont">
                    <h4>Nepal</h4>
                <div class="icon">
                <i class="bi bi-heart-fill"><span>86541</span></i>
                <i class="bi bi-chat-fill"><span>4562</span></i>
                </div>
            </div>
        </div>
        <div class="msg">
            <img th:src="@{~/icon/usa.png}" alt="">
            <div class="cont">
                    <h4>USA</h4>
                <div class="icon">
                <i class="bi bi-heart-fill"><span>86541</span></i>
                <i class="bi bi-chat-fill"><span>4562</span></i>
                </div>
            </div>
        </div>
</div>
</div>
    <footer>
        <div class="footer">
            <div class="row">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
                <a href="#"><i class="fa fa-youtube"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
            </div>

            <div class="row">
                <ul>
                    <li><a href="#">Contact us</a></li>
                    <li><a href="#">Our Services</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Terms & Conditions</a></li>
                    <li><a href="#">Career</a></li>
                </ul>
            </div>

            <div class="row">
                Adventure Copyright © 2021  - All rights reserved || Designed By: Utsav
            </div>
        </div>
    </footer>
    <script th:src="@{~/js/app.js}"></script>
</body>
</html>