<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment</title>
    <link rel="stylesheet" th:href="@{~/css/payment.css}">
    <link rel="shortcut icon" type="x-icon" th:href="@{~/img/logo.png}">
</head>
<body>
    <h2>Pay Here</h2>
    <div class="qr-place">
        <img th:src="@{~/img/khalti-code.jpg}" alt="medis">
    </div>
    <div class="second">
        <div class="qr-place2">
            <img th:src="@{~/img/fonepay.jpg}" alt="">
           </div>
    </div>
</body>
</html>